::-webkit-scrollbar {
    width: 4px;
    height: 4px;

    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: g.$c_bc_light;
}

.app {
    width: 1000px;
    height: 640px;

    margin: 100px 20px;

    font-size: 14.5px;
    line-height: 1.15;

    padding: 12px;

    color: g.$c_light;
    border: 2px solid #333;

    position: relative;
}

.screen {
    position: relative;
    width: 100%;
    height: 100%;
}

dl {
    line-height: 1.6;
}

.mt {
    &_10 {
        margin-top: 10px !important;
    }

    &_20 {
        margin-top: 20px !important;
    }

    &_30 {
        margin-top: 30px !important;
    }
}

p.note {
    font-size: 20px;
    color: pink;
}

.fullw {
    width: 100%;
}