/* items */
.items {
    i {
        width: 25px;
        height: 25px;

        display: inline-block;

        text-align: center;
        line-height: 25px;

        border-radius: 99px;

        background-color: #b8216f;

    }
}

/* source_needed */
.source_needed {
    margin-top: 20px;
    margin-bottom: 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
        display: flex;
        align-items: center;

        color: #fff;
        font-weight: 500;
        font-size: 18px;

        &+li {
            margin-left: 28px;
        }

        img {
            width: 30px;
        }
    }
}