.talisman {
    &__wrap {
        display: flex;
        flex-wrap: wrap;

        >.item {
            width: 60px;
            height: 60px;

            margin: 7px;

            border-radius: 4px;
            background-color: #fff;
            background-color: #fff;

            position: relative;

            &::after {
                content: attr(data-item);

                font-size: 16px;
                color: g.$c_blue;
                font-weight: 500;
                transform: translate(-50%, -50%);
            }

            span {}
        }
    }
}