.weapon_enhacement {
    &_alltab {
        display: flex;


        .tab_default,
        .tab_alway_on {
            width: 50%;
        }

        .tab_default {}
    }

    .avatar {
        position: relative;

        display: block;
        width: 100px;
        height: 100px;

        margin-left: auto;
        margin-right: auto;

        border-radius: 6px;
        background-color: #aaa;

        figcaption {
            width: 100%;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 84px;
            transform: translate(-50%);

            color: g.$c_white;
        }

        .enhacement_level {
            position: absolute;
            right: 0;
            bottom: 14px;

            font-size: 14px;
            color: g.$c_white;

            &::before {
                content: 'Lv';
            }
        }
    }

    .one_flow {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        .group {
            margin-top: auto;
        }
    }

    .enhacement {
        .groups__inline {
            button {
                margin-right: 10px;
            }

            &+.groups__inline {
                margin-top: 10px;
            }
        }
    }

    .enhancement_cost,
    .enhancement_decost {
        font-weight: 700;
    }

    .enhacement_items {
        display: flex;
        flex-wrap: wrap;

        .item {
            width: 54px;
            height: 54px;
            margin: 4px;

            cursor: pointer;

            border-radius: 6px;

            text-align: center;

            font-weight: 700;
            color: g.$c_dark;
            background-color: #fff;

            position: relative;

            &::after {
                content: attr(data-rank)" "attr(data-type);

                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);
            }
        }
    }

    .enhacement_rate {
        .rate {
            color: g.$c_white;
        }

        .enhancement_talisman {
            display: block;

            margin-left: auto;
            margin-right: auto;

            border-radius: 6px;

            color: g.$c_white;
            text-decoration: underline;
        }
    }


    .upgrade_star {
        .materials {
            margin-bottom: 10px;

            button {
                width: 52px;
                height: 52px;

                border-radius: 8px;

                background-color: g.$c_bc_light;
            }
        }
    }

    .sacrifice {
        &__cost {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            >.item {
                width: 50px;
                height: 50px;
                margin: 0px 20px;

                border-radius: 99px;

                text-align: center;
                padding-top: 16px;

                white-space: nowrap;

                font-size: 15px;
                font-weight: 700;

                color: g.$c_bc_light;
                background-color: g.$c_dark;
            }
        }
    }
}