/* button */
.b0 {
    &::after {
        content: attr(data-hover);
        width: 160px;
        max-width: max-content;
        display: block;

        position: absolute;
        top: 50%;
        left: 50%;

        padding: 10px;
        z-index: 2;
        opacity: 0;

        text-align: left;
        color: #fff;
        line-height: 1.15;

        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.6);

        transition: opacity 150ms ease;
        pointer-events: none;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }
}

.button_nor {
    width: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 12px;
    border-radius: 5px;

    display: block;



    &.b1 {
        color: #363301;
        background-color: #fff41f;
    }

    &.b2 {
        color: #012836;
        background-color: #179ecf;
    }

    &.b3 {
        color: #822003;
        background-color: #fc906f;
    }

    &.b4 {
        color: #535354;
        background-color: #e3e3e3;
    }
}

.buttons_wrap {
    &_flex {
        display: flex;

        .button {
            width: 90px;
            height: 34px;

            margin-left: 3px;
            margin-right: 3px;

            font-size: 15px;
            font-weight: 700;
            color: g.$c_bc_dark;
            background-color: g.$c_bc_light;

            border: 2px solid transparent;
            border-radius: 8px;

            transition: all 300ms ease;

            &.actived {
                color: g.$c_light;
                background-color: g.$c_dark;
                border-color: g.$c_light;
            }
        }
    }

    &_flex2 {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .button {
            width: calc(50% - 10px);
            height: 30px;

            margin-top: 5px;
            margin-left: 2px;
            margin-right: 2px;

            font-size: 15px;
            font-weight: 700;
            color: #fff;
            line-height: 30px;
            text-align: center;

            border-radius: 5px;

            background-color: #333;

        }
    }


}