.raw_materials {
    text-align: center;

    color: g.$c_white;
}

.materials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .item {
        margin-left: 6px;
        margin-right: 6px;
    }
}