/* popup */
.popup {
    position: absolute;
    z-index: 1030;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    transition: visibility 300ms ease, opacity 200ms linear 100ms;

    &.popup_cover {
        z-index: 1040;
    }

    &.actived {
        opacity: 1;
        visibility: visible;
    }

    &_mask {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.4);
    }

    &_content {
        width: 720px;

        padding: 20px;
        background-color: g.$c_bc_dark;

        border-radius: 8px;
        border: 4px solid g.$c_dark;
    }

    // popup_heading
    &_heading {
        color: #fff;
        margin-bottom: 16px;
    }

    &_submit {
        .popup_content {
            width: 240px;
            color: #fff;

            .form_submit {
                width: 100%;

                display: flex;
                justify-content: space-between;

                margin-top: 10px;
            }
        }

        .button_submit {
            width: calc(50% - 5px);
            display: block;

            background-color: g.$c_bc_light;

            border: 2px solid g.$c_dark;
            border-radius: 8px;
            height: 30px;
        }
    }
}

@import './popup/talisman';
@import './popup/vip_daily';
@import './popup/vip_right';
@import './popup/weapon_enhancement';
@import './popup/main';
@import './popup/heroes';