/* stat */
@keyframes stat_ani_css {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    20%,
    50% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.stat {
    line-height: 1.4;

    &_common {
        display: flex;
        align-items: center;
    }

    >dt {
        width: 46px;
        font-size: 16px;
    }

    >dd {
        span {
            display: inline-block;
        }
    }

    &_add,
    &_ori {
        font-size: 20px;
        font-weight: 700;
    }

    &_ori {
        margin-right: 8px;
    }

    &_add {
        color: #3cf224;
    }

    &_tab {
        border-radius: g.$radius;
        border: 2px solid g.$c_dark;
        background-color: #bfbfbf;
        padding: 20px;
    }

    &_ani_css {
        font-size: 18px;
        position: relative;

        &::after {
            content: '+'attr(data-css);
            position: absolute;
            left: calc(100% + 10px);
            top: 0;
            color: g.$c_dark_green;

            animation: stat_ani_css 1s linear 0s 1 both;
        }
    }

    &_wrap {
        height: 70px;
        margin-top: 14px;
        margin-bottom: 14px;

        &__center {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__inline {
        display: flex;

        dt {
            width: 50px;
        }

        dd {
            .ori {

                &::after {
                    content: '';
                    border: 5px solid transparent;
                    border-left-color: g.$c_white;
                    display: inline-block;
                    margin-left: 20px;
                    margin-right: 10px;
                }
            }
        }

        &_star {
            dt {
                width: 100px;
            }
        }
    }


}