/* tab */
.tab {
    &_common {}

    &_item {
        display: none;

        &.actived {
            display: block;
        }
    }

    &_auto {}

    &_list {
        width: 100%;
        height: 100%;

        display: none;

        &.actived {
            display: block;
        }
    }
}